<ion-view view-title="Crear Batalla">
  <ion-content class="paddingCrearBatalla">
  <br>
	<center><ion-spinner  icon="ios" class="spinner spinner-energized" ng-if="banderula==true" ></ion-spinner></center>
	<div align="center" class="animated bounceInDown" ng-if="banderula==false">
	<div><font color="white" class="c">Valor de la Apuesta: </font><font color="green" class="c">${{batalla.valor}}</font></div><br>
		<ion-item class="range range-balanced" style="background-color: #2E2E2E;">
		<i class="icon ion-cash balanced"></i>
		<input type="range" name="credito" ng-model= "batalla.valor" min="10" max="100" value="0">
		<i class="icon ion-cash balanced"></i>
		</ion-item>
		<br>
		<font color="white" class="c">Tiempo en Días (0 - 6):<input type="number" min="0" max="6" value="0" ng-model="tiempo.dias" ></font>
		<font color="white" class="c">Tiempo en Horas (0 - 23):<input type="number" min="0" max="23" value="0" ng-model="tiempo.horas" ></font>
		<font color="white" class="c">Tiempo en Minutos (0 - 59):<input type="number" min="0" max="59" value="0" ng-model="tiempo.minutos" ></font>
		<font color="white" class="c">Tiempo en Segundos (0 - 59):<input type="number" min="0" max="59" value="0" ng-model="tiempo.segundos" ></font>	
		<br>
		<font color="white" class="c">Seleccione la posición ganadora:</font>
		<br><br>
		<ion-list>
		<div class="input-label" style="width: 50%; text-align: center; margin: auto;">
		<table style="width: 50%; text-align: center; margin: auto;">
			<tr>
				<td ng-click="leerPosicion('Primera')">
				  <input type="radio" name= "elegido" class="button button-assertive"></td>
				<td ng-click="leerPosicion('Segunda')">
				  <input type="radio" name="elegido" class="button button-assertive"></td><tr>
				<td ng-click="leerPosicion('Tercera')">
				  <input type="radio" name="elegido" class="button button-assertive"></td>
				<td ng-click="leerPosicion('Cuarta')">
				  <input type="radio" name="elegido" class="button button-assertive"></td></tr>
			</tr>
		  </table>
		  </div>
		</ion-list>
		<br></br>
		<div ng-if="batalla.valor<101 && batalla.valor>9 && tiempo.dias==0 || tiempo.dias>0 && tiempo.dias<7">         
			<div ng-if="tiempo.horas==0 || tiempo.horas>0 && tiempo.horas<24">
                <div ng-if="tiempo.minutos==0 || tiempo.minutos>0 && tiempo.minutos<60">
                    <div ng-if="tiempo.segundos==0 || tiempo.segundos>0 && tiempo.segundos<60">
						<button class="button button-large button-dark" ng-click="Aceptar()">Crear Batalla</button>                        
                    </div>
                </div>
			</div>
		</div> 
	</div>
  </ion-content>
</ion-view>

