<ion-view view-title="Datos del Autor">
  <ion-content class="padding" scroll="false">
  <center><ion-spinner  icon="bubbles" class="spinner spinner-energized" ng-if="banderita==true" ></ion-spinner></center>
  <div align="center" class="animated bounceInUp" ng-if="banderita==false">
   <h3><font color="white" class="c">Boccasile, Ignacio Nahuel</font></h3></br>
	<a><img src="img/FotoPerfil.jpg" width="100" height="100"></img></a><br></br>
	<h4><font color="white" class="c">ignacioboccasile@hotmail.com</font></h4><br></br>
	<a><img src="img/FotoCorreo.ico" width="70" height="70"></img></a><br></br>
	<h4><font color="white" class="c">GitHub:IgnacioBoccasile</font></h4>
	</div>
  </ion-content>
</ion-view>
