<ion-view view-title="Iniciar Sesión">
  <ion-content class="padding">
  </br>  
    <div>	  
		<input style="margin-left:5.2%" type="text" ng-model="correo" id="correo" placeholder="Correo..."></br>
		<input style="margin-left:5.2%" type="text" ng-model="clave" id="clave" placeholder="Clave..."></br>
		<button style="margin-left:5.2%" class="button button-assertive" >Login</button><br></br>
		<div align="center">
			<a><img src="img/Agregado.png" width="100" height="100"></img></a>
			<h4><font color="white" class="c">Inicio de sesión exitoso!!</font></h4>
		</div>
    </div>
  </ion-content>
</ion-view>

    
