<ion-view view-title="Datos del Perfil">
  <ion-content scroll="false" class="paddingPerfil">
  <br>
<center><ion-spinner  icon="bubbles" class="spinner spinner-energized" ng-if="banderola==true" ></ion-spinner></center>
   <div align="center" class="animated bounceInRight" ng-if="banderola==false">
        <img src="img/Gente.png" width="100" height="100"></img><br><h4><font color="white" class="c">Su correo es: </font><font color="yellow" class="c">{{usuario.nombre}}</font></h4><br></br><img src="img/Plata.png" width="100" height="70"></img></br><h4><font color="white" class="c">Usted dispone de </font><font color="green" class="c">${{usuario.credito}} </font><font color="white" class="c">de saldo.</font></h4></br></br></br>
</div>
  </ion-content>

</ion-view>

