<ion-view view-title="Batallas Disponibles">
	<ion-content class="paddingBatallasDisponibles">
	<br>
	<center>
		<ion-spinner  icon="ios" class="spinner spinner-energized" ng-if="bander==true" ></ion-spinner>
	</center>
	<div class="animated bounceInRight" ng-if="bander==false">
		<div ng-repeat="batalla in datos">
			<div ng-show="!batalla.computada && batalla.disponible && batalla.creador!=userID">
				<div  style="border: 3px solid yellow;">
					<center>
					<br>
					<h2><strong><font color="white" class="c"> Valor de la apuesta: </font><font color="green" class="c"> ${{batalla.valor}}</font></strong></h2>
					<br>
					<h2><strong><font color="white" class="c"> Saldo disponible: </font><font color="green" class="c"> ${{credito}}</font></strong></h2>
					<br>
					<timer ng-show="batalla.disponible" countdown="(batalla.fechaFin - DateNow) / 1000" interval="1000">
						<font color="white" class="c"> Tiempo restante: </font> <font color="red" class="c">{{days}} D&iacute;as - {{hours}} Horas - {{minutes}} Minutos - {{seconds}} Segundos</font></h3>
					</timer>
						<br><br>
							<button class="button button-dark" ng-click="verBatalla($index)"> Toque para Jugar </button>
						<br><br>
					</center>
				</div>
				<br>
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>