<ion-view view-title="Crear Batalla">
  <ion-content class="paddingCrearBatalla" scroll="false">
  <br>
	<center><ion-spinner  icon="ios" class="spinner spinner-energized" ng-if="banderula==true" ></ion-spinner></center>
	<div align="center" class="animated bounceInDown" ng-if="banderula==false">  
		<div><font color="white" class="c">Valor de la Apuesta: </font><font color="green" class="c">${{batalla.valor}}</font></div><br>
		<ion-item class="range range-balanced" style="background-color: #2E2E2E;">
    <i class="icon ion-cash balanced"></i>
    <input type="range" name="credito" ng-model= "batalla.valor" min="10" max="100" value="0">
    <i class="icon ion-cash balanced"></i>
  </ion-item>
		<br>
		<font color="white" class="c">Seleccione la posición ganadora:</font>
		<br><br>
		<ion-list>
		<div class="input-label" style="width: 50%; text-align: center; margin: auto;">
		<table style="width: 50%; text-align: center; margin: auto;">
			<tr>
				<td ng-click="leerPosicion('Primera')">
				  <input type="radio" name= "elegido" class="button button-assertive"></td>
				<td ng-click="leerPosicion('Segunda')">
				  <input type="radio" name="elegido" class="button button-assertive"></td><tr>
				<td ng-click="leerPosicion('Tercera')">
				  <input type="radio" name="elegido" class="button button-assertive"></td>
				<td ng-click="leerPosicion('Cuarta')">
				  <input type="radio" name="elegido" class="button button-assertive"></td></tr>
			</tr>
		  </table>
		  </div>
		</ion-list>
		<br></br>
		<div ng-if="batalla.valor<101 && batalla.valor>9">         
			
		<button class="button button-large button-dark" ng-click="Aceptar()">Crear Batalla</button>                        

		</div> 
	</div>
  </ion-content>
</ion-view>

